body{
    background-image: url("pexels-vasilis-karkalas-155349971-11531363.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    background-repeat: no-repeat;
font-family: "Red Hat Display", sans-serif;
box-sizing: border-box;
overflow-x: hidden;
 display: flex;
  flex-direction: column;
align-items: center;
}

